# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  generate_c_interface:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: howerj/dbcc
      
      # Runs a single command using the runners s
      - name: build_dbcc
        run: | 
          cd $GITHUB_WORKSPACE/howerj/dbcc
          make

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          cd $GITHUB_WORKSPACE && mkdir -p ${{ github.repository }}/can_conv
          cd $GITHUB_WORKSPACE/howerj/dbcc
          ./dbcc -o ${{ github.repository }}/can_conv ${{ github.repository }}/dbc/*.dbc 
